{% assign selected_author_data = false %}
{% for available_author in available_authors %}
    {% if available_author.settings.title == article.author %}
        {% assign selected_author_data = available_author %}
        {% break %}
    {% endif %}
{% endfor %}
{% if selected_author_data.id %}
<style>
    .author-wrap {
        display: flex;
        padding: 50px 0;
    }
    .author-image {
        width: 250px;
        height: 250px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .author-content h4 {
        margin-top: 0;
    }

    {% unless selected_author_data.settings.author_image %}
    .author-image {
        background-color: #222f3e;
    }
    .author-image:before {
        content: "{{ selected_author_data.settings.title | first }}";
        color: #FFFFFF;
        font-size: 60px;
    }
    {% else %}
    .author-image {
        background-image: url('{{ selected_author_data.settings.author_image | img_url: "master" }}');
        background-position: center;
        background-size: cover;
    }
    {% endunless %}
    @media screen and (min-width: 601px) {
        .author-content {
            width: calc(100% - 270px);
        }
        .author-content p {
            margin-top: 0;
            margin-bottom: 5px;
        }
    }
    @media screen and (max-width: 600px) {
        .author-content p {
            margin-bottom: 5px;
        }
        .author-wrap {
            flex-direction: column;
            align-items: center;
        }
        .author-content {
            text-align: center;
            padding: 0 10px;
        }
    }
</style>
<div class="author-wrap">
    <div class="author-image">

    </div>
    <div class="author-content">
        <p>Article by</p>
        <h4>{{ selected_author_data.settings.title }}</h4>
        {{ selected_author_data.settings.author_description }}
    </div>
</div>
{% endif %}