
    <div class="text-sm font-bold flex items-center justify-center gap-3 rounded-md p-3 mt-5 bg-[#fafafa] border-[#eeeeee] border border-solid">
        <img class="w-8 h-8" src="{{ 'geo-locate.svg' |  asset_url }}" alt="geo locate icon" width="100" height="100">
        <div class="flex items-center gap-1">
            <span class="font-normal"> Deliver to - </span>
            <p id="location-info" class="">Fetching location...</p>
        </div>
    </div>