{% comment %}
  @param context {Object}
    Collection object or search object
{% endcomment %}

{%- assign total_active_values = 0 -%}

<h2 class="productgrid--sidebar-title">
  {{ 'product_grid.filters.title_count' | t: count: 0 }}
</h2>

{% assign active_filters = false %}
{% for filter in context.filters %}
  {% if filter.active_values.size > 0 or filter.min_value.value or filter.max_value.value %}
    {% assign active_filters = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if active_filters == true %}
  <div class="productgrid--filters--mobile">
    {%-
      render 'product-grid-filters-active',
      context: context,
    %}
  </div>
{% endif %}

<div class="filter-form">
  {%- for filter in context.filters -%}
    {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}

    {% if filter.label contains 'Array Output' %}
      {% assign is_allowed_filter = false %}
      {% assign allowed_collections = settings.array_output_collection_list %}
      {% for allowed_collection in allowed_collections %}
        {% if allowed_collection.handle == collection.handle %}
          {% assign is_allowed_filter = true %}
        {% endif %}
      {% endfor %}
      {% unless is_allowed_filter %}
        {% continue %}
      {% endunless %}
    {% endif %}

    {% if filter.label contains 'Rated Inverter Output' %}
      {% assign is_allowed_filter = false %}
      {% assign allowed_collections = settings.rated_Inverter_output_collection_list %}
      {% for allowed_collection in allowed_collections %}
        {% if allowed_collection.handle == collection.handle %}
          {% assign is_allowed_filter = true %}
        {% endif %}
      {% endfor %}
      {% unless is_allowed_filter %}
        {% continue %}
      {% endunless %}
    {% endif %}

    {%
      render 'faceted-filter-group',
      filter: filter,
      show_product_count: show_product_count,
      forloop: forloop,
    %}
  {%- endfor -%}
  </div>
    <div style="margin-top: 10px;">
    <h4 style="font-size: 16px;">Have Questions?</h4>
    <p>We can help! Our trained experts have years of solar experience and are available to answer your questions.</p>
    <a href="tel:877-242-2792">Call 877-242-2792</a>
  </div>
