<div class="w-full h-[550px] md:h-[700px] relative bg-[#D8E8F5]">
  <div class="max-w-[1440px] relative z-10 mx-auto flex h-full flex-col items-start justify-center px-5 md:px-0">
    <div class="flex flex-col justify-start items-start bg-white w-full md:w-[42rem] p-10 rounded-lg">
      <p class="font-bold text-[#ff991c]">ShopGuard+ Coming Soon</p>
      <h1 class="text-4xl text-left">Unlock Exclusive Perks <br class="hidden md:block"> with a
        <span class="text-[#ff991c]">ShopGuard Membership.</span>
      </h1>
      <p class="w-full leading-6 text-left">{{ section.settings.hero-paragraph }}</p>
      <button class="bg-[#ff991c] relative z-10 mt-5 text-white px-10 py-5 inline-block rounded-md font-bold" x-on:click="modalEnablePage = true">{{ section.settings.button-text }}</button>
    </div>

  </div>
  <div class="absolute right-0 mx-auto w-auto bottom-0">
    <img
      class="object-bottom object-contain w-[1000px]"
      width="1000"
      height="600"
      src="{{ 'solarguard-bg.png' | asset_url }}"
      alt="solarguard background">
  </div>
</div>

{% schema %}
  {
    "name": "SolarGuard Hero",
    "settings": [
      {
        "type": "text",
        "id": "hero-title",
        "label": "Enter title",
        "default": "Your Exclusive SolarGuard <br>Membership Card"
      }, {
        "type": "textarea",
        "id": "hero-paragraph",
        "label": "Enter paragraph",
        "default": "Power your off-grid lifestyle with SolarGuard Membership. Enjoy lifetime support, extended returns, exclusive rewards, and partner discounts. Join now for unmatched benefits in sustainable living."
      }, {
        "type": "text",
        "id": "button-text",
        "label": "enter button title",
        "default": "Start Your Free Membership"
      }, {
        "type": "url",
        "id": "button-url",
        "label": "Choose button link"

      }
    ],
    "presets": [
      {
        "name": "Solarguard Hero",
        "category": "Custom"
      }
    ]
  }
{% endschema %}