@import url("https://dev.layouthub.com/storage/libraries/LineIcons/LineIcons.css?vendor_id=css_line_icon");@import url("https://dev.layouthub.com/storage/libraries/layouthub.css?vendor_id=css_layouthub_base");



section[data-layouthub="section"] *{
	box-sizing: border-box;
}
.lh-container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}
@media screen and (min-width:576px) {
    .lh-container{max-width:540px}
}
@media screen and (min-width:768px) {
    .lh-container{max-width:720px}
}
@media screen and (min-width:992px) {
    .lh-container{max-width:960px}
}
@media screen and (min-width:1200px) {
    .lh-container{max-width:1200px}
}
.lh-container-fluid{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}
.lh-row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px;
}
.lh-col-md-1,
.lh-col-md-2,
.lh-col-md-3,
.lh-col-md-4,
.lh-col-md-5,
.lh-col-md-6,
.lh-col-md-7,
.lh-col-md-8,
.lh-col-md-9,
.lh-col-md-10,
.lh-col-md-11,
.lh-col-md-12{
    position:relative;
    width:100%;
    padding-right:15px;
    padding-left:15px;
    box-sizing:border-box;
}
.lh-col-md-1{
    -ms-flex:0 0 8.333333%;
    flex:0 0 8.333333%;
    max-width:8.333333%;
}
.lh-col-md-2{
    -ms-flex:0 0 16.666667%;
    flex:0 0 16.666667%;
    max-width:16.666667%;
}
.lh-col-md-3{
    -ms-flex:0 0 25%;
    flex:0 0 25%;
    max-width:25%;
}
.lh-col-md-4{
    -ms-flex:0 0 33.333333%;
    flex:0 0 33.333333%;
    max-width:33.333333%;
}
.lh-col-md-5{
    -ms-flex:0 0 41.666667%;
    flex:0 0 41.666667%;
    max-width:41.666667%;
}
.lh-col-md-6{
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%;
}
.lh-col-md-7{
    -ms-flex:0 0 58.333333%;
    flex:0 0 58.333333%;
    max-width:58.333333%;
}
.lh-col-md-8{
    -ms-flex:0 0 66.666667%;
    flex:0 0 66.666667%;
    max-width:66.666667%;
}
.lh-col-md-9{
    -ms-flex:0 0 75%;
    flex:0 0 75%;
    max-width:75%;
}
.lh-col-md-10{
    -ms-flex:0 0 83.333333%;
    flex:0 0 83.333333%;
    max-width:83.333333%;
}
.lh-col-md-11{
    -ms-flex:0 0 91.666667%;
    flex:0 0 91.666667%;
    max-width:91.666667%;
}
.lh-col-md-12{
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    max-width:100%;
}
section[data-layouthub="section"] *:before,
section[data-layouthub="section"] *:after{
    box-sizing: inherit;
    color: inherit;
}
section[data-layouthub="section"] h1, 
section[data-layouthub="section"] h2, 
section[data-layouthub="section"] h3, 
section[data-layouthub="section"] h4, 
section[data-layouthub="section"] h5, 
section[data-layouthub="section"] h6{
    color: #4f5362;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}
section[data-layouthub="section"] p{
    margin: 0;
    padding: 0;
}
section[data-layouthub="section"] a{
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
section[data-layouthub="section"] ul,section[data-layouthub="section"] li{
    margin: 0;
    padding: 0;
    list-style: none;
}
section[data-layouthub="section"] img{
    max-width: 100%;
    border: 0;
}section#header {
    position: fixed !important;
    width: 100%;
    top: 0px;
    z-index: 1;
}<!--lh-live-editor-->

text[data-lhi] {display: inline-block;}[data-lhi]:not(img):empty,img[src=""]{display: none;}[data-layouthub="section"] [data-lhi] pre{padding-left: 1rem;border-left: 3px solid var(--lh-color);}[data-layouthub="section"] [data-lh-live-editor] ol {padding-left: revert !important;list-style-type: decimal !important;} [data-layouthub="section"] [data-lh-live-editor] ul{padding-left: revert !important;list-style-type: disc !important;}[data-layouthub="section"] [data-lh-live-editor] li {list-style: inherit !important;} section[data-section-id="21qwmpm54qi"] .lh-header .lh-row{
    align-items: center;

}



section[data-section-id="21qwmpm54qi"] .lh-txt-logo a{
    font-weight: bold;
    font-size: calc(var(--lh-font-size) * 2.25);
    line-height: 1.45;
    letter-spacing: -0.02em;
    color: rgb(0, 0, 0);
    display: inline-block;
}

section[data-section-id="21qwmpm54qi"] .lh-header-menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section[data-section-id="21qwmpm54qi"] .lh-header-menu ul li{
    padding: 0px 30px;
}

section[data-section-id="21qwmpm54qi"] .lh-header-menu ul li a:hover, section[data-section-id="21qwmpm54qi"] .lh-header-logo:hover{
    cursor: pointer !important;
}

section[data-section-id="21qwmpm54qi"] .lh-header-menu ul li a{
    font-weight: 500;
    color: rgb(26, 26, 26);
    line-height: 1.5;
    font-size: calc(var(--lh-font-size) * 1);
    white-space: nowrap;
    display: inline-block;
}

section[data-section-id="21qwmpm54qi"] .lh-btn{
    text-align: right;
}

section[data-section-id="21qwmpm54qi"] .lh-btn a{
    text-align: center;
    font-weight: bold;
    font-size: calc(var(--lh-font-size) * 0.875);
    line-height: 1.6;
    letter-spacing: 2px;
    padding: 13px 41px;
    color: rgb(255, 255, 255);
    display: inline-block;
    background: var(--lh-color);
    border-radius: 8px;
    cursor: pointer !important;
}

section[data-section-id="21qwmpm54qi"] .lh-btn a:hover{
    opacity: 0.8;
}



@media screen and (min-width: 992px) {
    section[data-section-id="21qwmpm54qi"] .show-tablet{
        display: none;
    }
}

@media screen and (max-width: 991px) {
    section[data-section-id="21qwmpm54qi"] .lh-cus-col3{
        flex: 0 0 50%;
        max-width: 50%;
    }

    section[data-section-id="21qwmpm54qi"] .lh-col-md-6{
        flex: 0 0 25%;
        max-width: 25%;
        order: 2;
    }

    section[data-section-id="21qwmpm54qi"] .lh-btn{
        text-align: center;
    }

    section[data-section-id="21qwmpm54qi"] .lh-header-menu{
        position: relative;
    }

    section[data-section-id="21qwmpm54qi"] .lh-icon{
        float: right;
        z-index: 10;
    }

    section[data-section-id="21qwmpm54qi"] .toggle{
        font-size: calc(var(--lh-font-size) * 2);
        line-height: 1;
        color: var(--lh-color);
    }

    section[data-section-id="21qwmpm54qi"] .lh-header-menu .lh-menu{
        display: none;
        top: 40px;
        right: 0px;
        background: rgb(255, 255, 255);
        box-shadow: rgb(153, 153, 153) 1px 2px 12px 1px;
        z-index: 999;
        position: absolute !important;
    }

    section[data-section-id="21qwmpm54qi"] .lh-menu.open~.ovelay{
        width: 100%;
        position: fixed;
        top: 0px;
        height: 100%;
        left: 0px;
        z-index: 1;
    }

    section[data-section-id="21qwmpm54qi"] .lh-header-menu .lh-menu.open{
        display: block;
    }

    section[data-section-id="21qwmpm54qi"] .lh-header-menu ul{
        display: block;
    }

    section[data-section-id="21qwmpm54qi"] .lh-header-menu ul li, section[data-section-id="21qwmpm54qi"] .lh-header-menu ul li:first-child, section[data-section-id="21qwmpm54qi"] .lh-header-menu ul li:last-child{
        padding: 6px 30px;
    }

    section[data-section-id="21qwmpm54qi"] .lh-header-menu ul li:hover{
        background: var(--lh-color);
    }

    section[data-section-id="21qwmpm54qi"] .lh-header-menu ul li:hover a{
        color: rgb(255, 255, 255);
    }
}

@media screen and (max-width: 575px) {
    section[data-section-id="21qwmpm54qi"] .lh-cus-col3{
        display: none;
    }

    section[data-section-id="21qwmpm54qi"] .lh-col-md-3, section[data-section-id="21qwmpm54qi"] .lh-col-md-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
}section[data-section-id="21qwmpm54qi"]{padding-top: 14px;padding-bottom: 14px;background: #ffffff}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="21qwmpm54qi"]{padding-top: 14px;padding-bottom: 14px;}}@media screen and (max-width: 767px) {section[data-section-id="21qwmpm54qi"]{padding-top: 14px;padding-bottom: 14px;}}section[data-section-id="21qwmpm54qi"] [data-lhi="btn_link"]:not([data-lhi-child="a"]), section[data-section-id="21qwmpm54qi"] [data-hub-attr-btn_link], section[data-section-id="21qwmpm54qi"] [data-estyle="btn_link"]:not([data-lhi]),section[data-section-id="21qwmpm54qi"] [data-lhi="btn_link"][data-lhi-child="a"] a {font-size: calc(var(--lh-font-size) * 0.70) !important;}@media screen and (max-width: 767px) {section[data-section-id="21qwmpm54qi"] [data-lhi="btn_link"]:not([data-lhi-child="a"]), section[data-section-id="21qwmpm54qi"] [data-hub-attr-btn_link], section[data-section-id="21qwmpm54qi"] [data-estyle="btn_link"]:not([data-lhi]),section[data-section-id="21qwmpm54qi"] [data-lhi="btn_link"][data-lhi-child="a"] a {}}section[data-section-id="21qwmpm54qi"] [data-lhi="img_logo"]:not([data-lhi-child="a"]), section[data-section-id="21qwmpm54qi"] [data-hub-attr-img_logo], section[data-section-id="21qwmpm54qi"] [data-estyle="img_logo"]:not([data-lhi]),section[data-section-id="21qwmpm54qi"] [data-lhi="img_logo"][data-lhi-child="a"] a {margin-top: 0px !important;} section[data-section-id="uqley4u4lx"] .lh-wrapper{
	 padding: 220px 0px 230px;
	 text-align: center; 
}
section[data-section-id="uqley4u4lx"] .lh-wrapper h3{
	 font-size: calc(var(--lh-font-size) * 5);
	 color: rgb(255, 255, 255);
	 font-weight: 700;
	 line-height: normal;
	 margin-bottom: 10px; 
}
section[data-section-id="uqley4u4lx"] .lh-wrapper h5{
	 font-size: calc(var(--lh-font-size) * 1.25);
	 font-weight: 500;
	 line-height: normal;
	 color: rgb(255, 255, 255); 
}
@media screen and (max-width: 1200px) {
	section[data-section-id="uqley4u4lx"] .lh-wrapper h3{
		 font-size: calc(var(--lh-font-size) * 4);
	}
}
@media screen and (max-width: 991px) {
	section[data-section-id="uqley4u4lx"] .lh-wrapper{
		 padding: 150px 0px; 
	}
	section[data-section-id="uqley4u4lx"] .lh-wrapper h3{
		 font-size: calc(var(--lh-font-size) * 3); 
	}
	section[data-section-id="uqley4u4lx"] .lh-wrapper h5{
		 font-size: calc(var(--lh-font-size) * 1.125);
	}
}
@media screen and (max-width: 767px) {
	section[data-section-id="uqley4u4lx"] .lh-wrapper{
		 padding: 120px 0px; 
	}
	section[data-section-id="uqley4u4lx"] .lh-wrapper h3{
		 font-size: calc(var(--lh-font-size) * 2.5);
	}
}
@media screen and (max-width: 480px) {
	section[data-section-id="uqley4u4lx"] .lh-wrapper{
		 padding: 100px 0px; 
	}
	section[data-section-id="uqley4u4lx"] .lh-wrapper h3{
		 font-size: calc(var(--lh-font-size) * 2); 
	}
	section[data-section-id="uqley4u4lx"] .lh-wrapper h5{
		 font-size: calc(var(--lh-font-size) * 0.9375);
	}
}section[data-section-id="uqley4u4lx"]{background: #ffffff url(https://cdn.shopify.com/s/files/1/0034/8913/6751/t/82/assets/ssk-home-17_HB26.jpg?v=1661823214) center center/cover no-repeat scroll}@media screen and (max-width: 991px) and (min-width: 768px) {}@media screen and (max-width: 767px) {}section[data-section-id="uqley4u4lx"] [data-lhi="heading"]:not([data-lhi-child="a"]), section[data-section-id="uqley4u4lx"] [data-hub-attr-heading], section[data-section-id="uqley4u4lx"] [data-estyle="heading"]:not([data-lhi]),section[data-section-id="uqley4u4lx"] [data-lhi="heading"][data-lhi-child="a"] a {font-size: calc(var(--lh-font-size) * 2) !important;background: #ffffff !important;color: #000000 !important;}section[data-section-id="uqley4u4lx"] [data-lhi="sh"]:not([data-lhi-child="a"]), section[data-section-id="uqley4u4lx"] [data-hub-attr-sh], section[data-section-id="uqley4u4lx"] [data-estyle="sh"]:not([data-lhi]),section[data-section-id="uqley4u4lx"] [data-lhi="sh"][data-lhi-child="a"] a {font-size: calc(var(--lh-font-size) * 2) !important;color: #000000 !important;background: #ffffff !important;font-weight: bold !important;} 
section[data-section-id="cywv07z7ke5"] .lh-item{
    margin-bottom: 60px;
}
section[data-section-id="cywv07z7ke5"] .lh-item:last-child{
    margin-bottom: 0px;
}
section[data-section-id="cywv07z7ke5"] .lh-item .lh-row{
    align-items: center;
}
 section[data-section-id="cywv07z7ke5"] .lh-item .lh-text{
    text-align: center;
 }
 section[data-section-id="cywv07z7ke5"] .lh-item.lh-right .lh-row{
    flex-direction: row-reverse;
}
 section[data-section-id="cywv07z7ke5"] .lh-item.lh-right .lh-row .lh-img{
    text-align: right
 }
 section[data-section-id="cywv07z7ke5"] .lh-item.lh-right .lh-text{
    margin-left: 12%;
}
 section[data-section-id="cywv07z7ke5"] .lh-item.lh-left .lh-text{
    margin-right:12%;
 }
section[data-section-id="cywv07z7ke5"] .lh-icon-item{
    margin-bottom: 40px;
    font-size: calc(var(--lh-font-size) * 4);
    line-height: 1;
    color: #20BAB1;
}
section[data-section-id="cywv07z7ke5"] .lh-title-item{
    line-height: 1.4;
    font-size: calc(var(--lh-font-size) * 2.5);
    color:  var(--lh-color);
    margin-bottom: 40px;
    font-weight: bold;
}
section[data-section-id="cywv07z7ke5"] .lh-des-item{
    color: #263A39;
    font-size: calc(var(--lh-font-size) * 1.25);
    line-height: 1.6
}
@media screen and (max-width: 991px){
section[data-section-id="cywv07z7ke5"] .lh-item.lh-right .lh-text, section[data-section-id="cywv07z7ke5"] .lh-item.lh-left .lh-text{
    margin: 0px;
 }
 section[data-section-id="cywv07z7ke5"] .lh-icon-item{
    margin-bottom: 16px;
    font-size: calc(var(--lh-font-size) * 2.25);
}
section[data-section-id="cywv07z7ke5"] .lh-title-item{
    font-size: calc(var(--lh-font-size) * 2);
    margin-bottom: 32px;
}
}
@media screen and (max-width: 767px){
section[data-section-id="cywv07z7ke5"] .lh-col-md-6{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
section[data-section-id="cywv07z7ke5"] .lh-img{
    margin-bottom: 24px;
}
 section[data-section-id="cywv07z7ke5"] .lh-icon-item{
    font-size: calc(var(--lh-font-size) * 4);
 }
section[data-section-id="cywv07z7ke5"] .lh-title-item{
    font-size: calc(var(--lh-font-size) * 2.5);
    margin-bottom: 16px;
}
section[data-section-id="cywv07z7ke5"] .lh-des-item{
    font-size: calc(var(--lh-font-size) * 1);
    line-height: 1.5;
}
}section[data-section-id="cywv07z7ke5"]{padding-top: 80px;padding-bottom: 80px;background: #ffffff}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="cywv07z7ke5"]{padding-top: 80px;padding-bottom: 80px;}}@media screen and (max-width: 767px) {section[data-section-id="cywv07z7ke5"]{padding-top: 80px;padding-bottom: 80px;}}section[data-section-id="cywv07z7ke5"] [data-lhis="list_item-title"]:not([data-lhi-child="a"]), section[data-section-id="cywv07z7ke5"] [data-lhis="list_item-title"][data-lhi-child="a"] a {font-size: calc(var(--lh-font-size) * 1.3) !important;line-height: calc(var(--lh-font-size) * 1.8) !important;font-weight: 700 !important;font-style: normal !important;text-decoration: none solid rgb(255, 153, 0) !important;text-transform: none !important;display: flex !important;justify-content: flex-start !important;text-align: left !important;color: #000000 !important;}section[data-section-id="cywv07z7ke5"] [data-lhis="list_item-title"]:not([data-lhi-child="a"])>*:not(br):not(p) /*ok*/, section[data-section-id="cywv07z7ke5"] [data-lhis="list_item-title"][data-lhi-child="a"] a *:not(br):not(p) {display: contents !important;}section[data-section-id="cywv07z7ke5"] [data-lhis="list_item-des"]:not([data-lhi-child="a"]), section[data-section-id="cywv07z7ke5"] [data-lhis="list_item-des"][data-lhi-child="a"] a {font-size: calc(var(--lh-font-size) * 0.8) !important;font-weight: 400 !important;font-style: normal !important;text-decoration: none solid rgb(38, 58, 57) !important;text-transform: none !important;display: flex !important;justify-content: flex-start !important;text-align: left !important;}section[data-section-id="cywv07z7ke5"] [data-lhis="list_item-des"]:not([data-lhi-child="a"])>*:not(br):not(p) /*ok*/, section[data-section-id="cywv07z7ke5"] [data-lhis="list_item-des"][data-lhi-child="a"] a *:not(br):not(p) {display: contents !important;} section[data-section-id="6t2tvmdjwdo"] .lh-content{
    padding: 60px 0px;
    text-align: center;
}

section[data-section-id="6t2tvmdjwdo"] h3{
    color: #fff;
}

section[data-section-id="6t2tvmdjwdo"] .lh-title{
    font-size: calc(var(--lh-font-size) * 2.5);
    margin-bottom: 24px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: rgb(255, 255, 255);
}

section[data-section-id="6t2tvmdjwdo"] .lh-txt{
    font-size: calc(var(--lh-font-size) * 1);
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 48px;
}

section[data-section-id="6t2tvmdjwdo"] .lh-btn a{
    text-align: center;
    font-weight: 600;
    font-size: calc(var(--lh-font-size) * 0.875);
    line-height: 1.57;
    letter-spacing: 2px;
    padding: 13px 64px;
    color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 40px;
    font-family: var(--lh-title-font-family);
    background: rgb(240, 79, 113);
    cursor: pointer !important;
}

@media screen and (max-width: 991px) {
    section[data-section-id="6t2tvmdjwdo"] .lh-title{
        font-size: calc(var(--lh-font-size) * 2.25);
    }
}

@media screen and (max-width: 575px) {
    section[data-section-id="6t2tvmdjwdo"] .lh-title{
        font-size: calc(var(--lh-font-size) * 1.75);
    }

    section[data-section-id="6t2tvmdjwdo"] .lh-txt{
        margin-bottom: 32px;
    }

    section[data-section-id="6t2tvmdjwdo"] .lh-btn a{
        display: block;
    }
}section[data-section-id="6t2tvmdjwdo"]{background: linear-gradient(#222f3e, #222f3e), #ffffff}@media screen and (max-width: 991px) and (min-width: 768px) {}@media screen and (max-width: 767px) {}section[data-section-id="6t2tvmdjwdo"] [data-lhi="btn_link"]:not([data-lhi-child="a"]), section[data-section-id="6t2tvmdjwdo"] [data-hub-attr-btn_link], section[data-section-id="6t2tvmdjwdo"] [data-estyle="btn_link"]:not([data-lhi]),section[data-section-id="6t2tvmdjwdo"] [data-lhi="btn_link"][data-lhi-child="a"] a {background: #ff991c !important;font-size: calc(var(--lh-font-size) * 1) !important;}section[data-section-id="6t2tvmdjwdo"] [data-lhi="text1"]:not([data-lhi-child="a"]), section[data-section-id="6t2tvmdjwdo"] [data-hub-attr-text1], section[data-section-id="6t2tvmdjwdo"] [data-estyle="text1"]:not([data-lhi]),section[data-section-id="6t2tvmdjwdo"] [data-lhi="text1"][data-lhi-child="a"] a {font-size: calc(var(--lh-font-size) * 2) !important;}section[data-section-id="6t2tvmdjwdo"] [data-lhi="text2"]:not([data-lhi-child="a"]), section[data-section-id="6t2tvmdjwdo"] [data-hub-attr-text2], section[data-section-id="6t2tvmdjwdo"] [data-estyle="text2"]:not([data-lhi]),section[data-section-id="6t2tvmdjwdo"] [data-lhi="text2"][data-lhi-child="a"] a {color: #ffffff !important;}