@import url("https://dev.layouthub.com/storage/libraries/layouthub.css?vendor_id=css_layouthub_base");@import url("https://dev.layouthub.com/storage/libraries/LineIcons/LineIcons.css?vendor_id=css_line_icon");

.row.menu_bar, .sticky_bar, .row.top_bar,
.row.middle_bar{
display: none;
}

div#shopify-section-okendo-reviews-carousel{
display: none;
}<!--lh-live-editor-->

text[data-lhi] {display: inline-block;}[data-lhi]:not(img):empty,img[src=""]{display: none;}[data-layouthub="section"] [data-lhi] pre{padding-left: 1rem;border-left: 3px solid var(--lh-color);}[data-layouthub="section"] [data-lh-live-editor] ol {padding-left: revert !important;list-style-type: decimal !important;} [data-layouthub="section"] [data-lh-live-editor] ul{padding-left: revert !important;list-style-type: disc !important;}[data-layouthub="section"] [data-lh-live-editor] li {list-style: inherit !important;} section[data-section-id="r35hjb7e18"] .lh-header .lh-row{
    align-items: center;
}

section[data-section-id="r35hjb7e18"] img{
    width: 50%;
}

section[data-section-id="r35hjb7e18"] .lh-call{
    float: right;
}

section[data-section-id="r35hjb7e18"] .lh-txt-logo a{
    display: inline-block;
    font-size: calc(var(--lh-font-size) * 3);
    line-height: 1.2;
    color: rgb(26, 26, 26);
}

section[data-section-id="r35hjb7e18"] .lh-txt-logo a:hover{
    color: var(--lh-color);
}

section[data-section-id="r35hjb7e18"] .lh-call{
    text-align: right;
}

section[data-section-id="r35hjb7e18"] .lh-call a{
    display: flex;
    align-items: center;
    color: rgb(26, 26, 26);
    font-weight: 500;
}

section[data-section-id="r35hjb7e18"] .lh-call i{
    font-size: calc(var(--lh-font-size) * 1.5);
    margin-right: 12px;
}

section[data-section-id="r35hjb7e18"] .lh-call span{
    display: inline-block;
}

section[data-section-id="r35hjb7e18"] .lh-call span:nth-child(2){
    margin-right: 8px;
}

section[data-section-id="r35hjb7e18"] .lh-call span:nth-child(3){
    font-size: calc(var(--lh-font-size) * 1.25);
}

section[data-section-id="r35hjb7e18"] .lh-header-logo img{
    cursor: pointer;
}

section[data-section-id="r35hjb7e18"] .lh-btn{
    text-align: right;
}

section[data-section-id="r35hjb7e18"] .lh-btn a{
    line-height: 1.57;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    font-size: calc(var(--lh-font-size) * 0.875);
    background: var(--lh-color);
    padding: 13px 32px;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    section[data-section-id="r35hjb7e18"] .lh-col-md-6{
        flex: 0 0 100%;
        max-width: 100%;
    }

    section[data-section-id="r35hjb7e18"] .lh-header-logo{
        text-align: center;
    }

    section[data-section-id="r35hjb7e18"] .lh-call{
        text-align: center;
        margin-top: 12px;
    }
}


@media screen and (max-width: 500px) {
section[data-section-id="r35hjb7e18"] img{
    width: 100%;
}
section[data-section-id="r35hjb7e18"] .lh-call{
    float: inherit;
    text-align: center!important;
}
}section[data-section-id="r35hjb7e18"]{padding-top: 15px;padding-bottom: 15px;background: #fff}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="r35hjb7e18"]{padding-top: 37px;padding-bottom: 25px;}}@media screen and (max-width: 767px) {section[data-section-id="r35hjb7e18"]{padding-top: 20px;padding-bottom: 20px;}}section[data-section-id="r35hjb7e18"] [data-lhi="call"]:not([data-lhi-child="a"]), section[data-section-id="r35hjb7e18"] [data-hub-attr-call], section[data-section-id="r35hjb7e18"] [data-estyle="call"]:not([data-lhi]),section[data-section-id="r35hjb7e18"] [data-lhi="call"][data-lhi-child="a"] a {font-size: calc(var(--lh-font-size) * .8) !important;color: #000000 !important;}@media screen and (max-width: 767px) {section[data-section-id="r35hjb7e18"] [data-lhi="call"]:not([data-lhi-child="a"]), section[data-section-id="r35hjb7e18"] [data-hub-attr-call], section[data-section-id="r35hjb7e18"] [data-estyle="call"]:not([data-lhi]),section[data-section-id="r35hjb7e18"] [data-lhi="call"][data-lhi-child="a"] a {font-size: calc(var(--lh-font-size) * 0.70) !important;}} section[data-section-id="g1aq1gb8wtn"] .lh-title{
	 color: var(--lh-color);
	 font-size: calc(var(--lh-font-size) * 2.25);
	 line-height: 1.33;
	 font-weight: 400;
	 margin-bottom: 24px;
	 text-align: center; 
}
section[data-section-id="g1aq1gb8wtn"] .lh-center{
	 text-align: center; 
}
section[data-section-id="g1aq1gb8wtn"] .lh-desc{
	 color: rgb(90, 90, 90);
	 line-height: 1.5;
	 font-size: calc(var(--lh-font-size) * 1);
	 width: 70%;
	 margin: 0px auto 24px;
	 text-align: center; 
}
section[data-section-id="g1aq1gb8wtn"] .lh-desc span{
	 font-weight: bold; 
}
@media screen and (max-width: 991px) {
	section[data-section-id="g1aq1gb8wtn"] .lh-desc{
		 width: 100%;
	}
}
@media screen and (max-width: 575px) {
	section[data-section-id="g1aq1gb8wtn"] .lh-title{
		 font-size: calc(var(--lh-font-size) * 1.75);
	}
}section[data-section-id="g1aq1gb8wtn"]{padding-top: 30px;padding-bottom: 50px;background: #ffffff}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="g1aq1gb8wtn"]{padding-top: 26px;}}@media screen and (max-width: 767px) {}section[data-section-id="g1aq1gb8wtn"] [data-lhi="desc"]:not([data-lhi-child="a"]), section[data-section-id="g1aq1gb8wtn"] [data-hub-attr-desc], section[data-section-id="g1aq1gb8wtn"] [data-estyle="desc"]:not([data-lhi]),section[data-section-id="g1aq1gb8wtn"] [data-lhi="desc"][data-lhi-child="a"] a {color: #000000 !important;font-size: calc(var(--lh-font-size) * 0.9) !important;display: flex !important;justify-content: flex-start !important;text-align: left !important;line-height: calc(var(--lh-font-size) * 1) !important;}section[data-section-id="g1aq1gb8wtn"] [data-lhi="desc"]:not([data-lhi-child="a"])>*:not(br):not(p) /*ok*/, section[data-section-id="g1aq1gb8wtn"] [data-hub-attr-desc] */*ok2*/, section[data-section-id="g1aq1gb8wtn"] [data-estyle="desc"]:not([data-lhi]),section[data-section-id="g1aq1gb8wtn"] [data-lhi="desc"][data-lhi-child="a"] a *:not(br):not(p) {display: contents !important;}section[data-section-id="g1aq1gb8wtn"] [data-lhi="txt_title"]:not([data-lhi-child="a"]), section[data-section-id="g1aq1gb8wtn"] [data-hub-attr-txt_title], section[data-section-id="g1aq1gb8wtn"] [data-estyle="txt_title"]:not([data-lhi]),section[data-section-id="g1aq1gb8wtn"] [data-lhi="txt_title"][data-lhi-child="a"] a {font-size: calc(var(--lh-font-size) * 1.2) !important;color: #000000 !important;font-weight: 400 !important;font-style: normal !important;text-decoration: none solid rgb(255, 153, 0) !important;text-transform: none !important;display: flex !important;justify-content: flex-start !important;text-align: left !important;}section[data-section-id="g1aq1gb8wtn"] [data-lhi="txt_title"]:not([data-lhi-child="a"])>*:not(br):not(p) /*ok*/, section[data-section-id="g1aq1gb8wtn"] [data-hub-attr-txt_title] */*ok2*/, section[data-section-id="g1aq1gb8wtn"] [data-estyle="txt_title"]:not([data-lhi]),section[data-section-id="g1aq1gb8wtn"] [data-lhi="txt_title"][data-lhi-child="a"] a *:not(br):not(p) {display: contents !important;} section[data-section-id="j51ahhpov1n"] .lh-title{
	 color: var(--lh-color);
	 font-size: calc(var(--lh-font-size) * 2.25);
	 line-height: 1.33;
	 font-weight: 400;
	 margin-bottom: 24px;
	 text-align: center; 
}
section[data-section-id="j51ahhpov1n"] .orange-btn{
	 text-align: center;
	 margin-top: 30px; 
}
section[data-section-id="j51ahhpov1n"] a.lh-btn{
	 background: rgb(255, 153, 28);
	 padding: 10px 100px;
	 color: rgb(255, 255, 255);
	 border-radius: 5px; 
}
section[data-section-id="j51ahhpov1n"] .lh-center{
	 text-align: center; 
}
section[data-section-id="j51ahhpov1n"] .lh-desc{
	 color: rgb(90, 90, 90);
	 line-height: 1.5;
	 font-size: calc(var(--lh-font-size) * 1);
	 width: 90%;
	 margin: 0px auto 24px;
	 text-align: center; 
}
section[data-section-id="j51ahhpov1n"] .lh-desc span{
	 font-weight: bold; 
}
@media screen and (max-width: 991px) {
	section[data-section-id="j51ahhpov1n"] .lh-desc{
		 width: 100%;
	}
}
@media screen and (max-width: 575px) {
	section[data-section-id="j51ahhpov1n"] .lh-title{
		 font-size: calc(var(--lh-font-size) * 1.75);
	}
}section[data-section-id="j51ahhpov1n"]{padding-top: 50px;padding-bottom: 50px;background: #fff}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="j51ahhpov1n"]{padding-top: 26px;}}@media screen and (max-width: 767px) {}section[data-section-id="j51ahhpov1n"] [data-lhi="desc"]:not([data-lhi-child="a"]), section[data-section-id="j51ahhpov1n"] [data-hub-attr-desc], section[data-section-id="j51ahhpov1n"] [data-estyle="desc"]:not([data-lhi]),section[data-section-id="j51ahhpov1n"] [data-lhi="desc"][data-lhi-child="a"] a {color: #000000 !important;font-size: calc(var(--lh-font-size) * 0.9) !important;display: flex !important;justify-content: flex-start !important;text-align: left !important;line-height: calc(var(--lh-font-size) * 1) !important;}section[data-section-id="j51ahhpov1n"] [data-lhi="desc"]:not([data-lhi-child="a"])>*:not(br):not(p) /*ok*/, section[data-section-id="j51ahhpov1n"] [data-hub-attr-desc] */*ok2*/, section[data-section-id="j51ahhpov1n"] [data-estyle="desc"]:not([data-lhi]),section[data-section-id="j51ahhpov1n"] [data-lhi="desc"][data-lhi-child="a"] a *:not(br):not(p) {display: contents !important;}section[data-section-id="j51ahhpov1n"] [data-lhi="txt_title"]:not([data-lhi-child="a"]), section[data-section-id="j51ahhpov1n"] [data-hub-attr-txt_title], section[data-section-id="j51ahhpov1n"] [data-estyle="txt_title"]:not([data-lhi]),section[data-section-id="j51ahhpov1n"] [data-lhi="txt_title"][data-lhi-child="a"] a {font-size: calc(var(--lh-font-size) * 1.2) !important;color: #000000 !important;font-weight: bold !important;font-style: normal !important;text-decoration: none solid rgb(255, 153, 0) !important;text-transform: none !important;display: flex !important;justify-content: center !important;text-align: center !important;}section[data-section-id="j51ahhpov1n"] [data-lhi="txt_title"]:not([data-lhi-child="a"])>*:not(br):not(p) /*ok*/, section[data-section-id="j51ahhpov1n"] [data-hub-attr-txt_title] */*ok2*/, section[data-section-id="j51ahhpov1n"] [data-estyle="txt_title"]:not([data-lhi]),section[data-section-id="j51ahhpov1n"] [data-lhi="txt_title"][data-lhi-child="a"] a *:not(br):not(p) {display: contents !important;} section[data-section-id="2sba6s1b5xo"] .lh-incentives .lh-row{
    justify-content: center;
}

section[data-section-id="2sba6s1b5xo"] .lh-incentives .lh-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

section[data-section-id="2sba6s1b5xo"] .lh-icon{
    margin-right: 16px;
}

section[data-section-id="2sba6s1b5xo"] .lh-incentives .lh-item .lh-text{
    font-size: calc(var(--lh-font-size) * 0.875);
    line-height: 20px;
    letter-spacing: 0.01em;
    color: rgb(26, 26, 26);
}

section[data-section-id="2sba6s1b5xo"] .lh-incentives .lh-item .lh-text span{
    font-weight: 700;
}

section[data-section-id="2sba6s1b5xo"] .lh-incentives .lh-item .lh-icon{
    font-size: calc(var(--lh-font-size) * 2.5);
}

section[data-section-id="2sba6s1b5xo"] .lh-incentives .lh-item .lh-icon i{
    color: var(--lh-color);
}

@media screen and (max-width: 991px) {
    section[data-section-id="2sba6s1b5xo"] .lh-col-md-3{
        flex: 0 0 20%;
        max-width: 20%;
    }

    section[data-section-id="2sba6s1b5xo"] .lh-incentives .lh-item, section[data-section-id="2sba6s1b5xo"] .lh-incentives .lh-item p{
        display: block;
        text-align: center;
    }

    section[data-section-id="2sba6s1b5xo"] .lh-icon{
        margin-right: 0px;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 767px) {
    section[data-section-id="2sba6s1b5xo"] .lh-col-md-3{
        flex: 0 0 25%;
        max-width: 25%;
    }

    section[data-section-id="2sba6s1b5xo"] .lh-incentives .lh-item{
        margin-bottom: 24px;
    }

    section[data-section-id="2sba6s1b5xo"] .lh-incentives .lh-item .lh-icon{
        font-size: calc(var(--lh-font-size) * 1.75);
    }

    section[data-section-id="2sba6s1b5xo"] .lh-incentives .lh-item .lh-text{
        font-size: calc(var(--lh-font-size) * 1.125);
    }
}section[data-section-id="2sba6s1b5xo"]{padding-top: 40px;padding-bottom: 40px;background: #f5f5f5}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="2sba6s1b5xo"]{padding-top: 20px;padding-bottom: 20px;}}@media screen and (max-width: 767px) {section[data-section-id="2sba6s1b5xo"]{padding-top: 20px;padding-bottom: 10px;}}section[data-section-id="2sba6s1b5xo"] [data-lhis="list_item-txt_item"]:not([data-lhi-child="a"]), section[data-section-id="2sba6s1b5xo"] [data-lhis="list_item-txt_item"][data-lhi-child="a"] a {font-size: calc(var(--lh-font-size) * 0.8) !important;font-weight: normal !important;}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="2sba6s1b5xo"] [data-lhis="list_item-txt_item"]:not([data-lhi-child="a"]), section[data-section-id="2sba6s1b5xo"] [data-lhis="list_item-txt_item"][data-lhi-child="a"] a {font-size: calc(var(--lh-font-size) * 0.7) !important;line-height: calc(var(--lh-font-size) * 0.9) !important;}}@media screen and (max-width: 767px) {section[data-section-id="2sba6s1b5xo"] [data-lhis="list_item-txt_item"]:not([data-lhi-child="a"]), section[data-section-id="2sba6s1b5xo"] [data-lhis="list_item-txt_item"][data-lhi-child="a"] a {font-size: calc(var(--lh-font-size) * 0.5) !important;color: #000000 !important;line-height: calc(var(--lh-font-size) * 0.6) !important;}}