<style>
  [x-cloak] {
    display: none !important;
  }
</style>

<div x-data="{ modalEnablePage: false }" class="">
  <span
    @click="modalEnablePage = false"
    x-show="modalEnablePage == true"
    x-cloak
    class="fixed inset-0 bg-black opacity-70 z-20 block"></span>
  <div
    class="md:max-w-5xl w-[90%] z-40 fixed top-1/2 left-1/2 overflow-hidden transform -translate-x-1/2 -translate-y-1/2 mx-auto text-left bg-white rounded-lg shadow-[0px_4px_9.5px_3px_rgba(0,0,0,0.25)]"
    @click.away="modalEnablePage = false"
    x-show="modalEnablePage == true"
    x-cloak
    x-transition:enter="motion-safe:ease-out duration-300"
    x-transition:enter-start="opacity-0 scale-90"
    x-transition:enter-end="opacity-100 scale-100">

    <div class="w-full h-3/4 bg-[#212836] relateive p-10 rounded-lg">
      <span x-on:click="modalEnablePage = false" class="absolute top-0 w-5 h-5 rounded-full flex items-center justify-center cursor-pointer bg-[#36435D] right-0 m-5"><img
          class="w-3 h-3  object-center object-contain"
          width="50"
          height="50"
          src="{{ 'Close.png' | asset_url }}"
          alt="close"></span>
      <h3 class="text-white mb-4">Do more with
        <span class="text-[#93936b]">ShopGuard Free Membership</span>
      </h3>
      <p class="text-[#A6B0C5]">Power your lifestyle with ShopGuard Membership. Enjoy lifetime support, extended returns, exclusive rewards, and partner discounts. Join now for unmatched benefits in sustainable living.</p>
      <div class="grid mt-10 grid-cols-1 md:grid-cols-3 gap-5">
        <div class="col-span-1 flex flex-col justify-center items-center">
          <div class="w-32 h-32 relative">
            <div class="w-32 h-32 rounded-full bg-[#30436B] blur-lg"></div>
            <div class="w-32 flex items-center justify-center h-32 absolute inset-0 rounded-full bg-[#30436B] border border-[#4E6BA5]">
              {% render 'icon-modal-sun' %}
            </div>
          </div>
          <div class="text-center mt-5">
            <h5 class="text-white">Browse and Add to Cart</h5>
            <p class="text-[#A6B0C5] leading-6 mt-3">Explore our extensive range of solar kits and accessories. Select the products that catch your eye and add them to your cart to start your Shopguard Free journey.</p>
          </div>
        </div>
        <div class="col-span-1 flex flex-col justify-center items-center">
          <div class="w-32 h-32 relative">
            <div class="w-32 h-32 rounded-full bg-[#30436B] blur-lg"></div>
            <div class="w-32 flex items-center justify-center h-32 absolute inset-0 rounded-full bg-[#30436B] border border-[#4E6BA5]">
              {% render 'icon-modal-toggle' %}
            </div>
          </div>
          <div class="text-center mt-5">
            <h5 class="text-white">Activate Shopguard</h5>
            <p class="text-[#A6B0C5] leading-6 mt-3">In your cart sidebar, ensure the Shopguard toggle is switched on. This confirms that you’re opting in for the Shopguard Free membership, which provides extra benefits and protection.</p>
          </div>
        </div>
        <div class="col-span-1 flex flex-col justify-center items-center">
          <div class="w-32 h-32 mb-5 relative">
            <div class="w-32 h-32 rounded-full bg-[#30436B] blur-lg"></div>
            <div class="w-32 flex items-center justify-center h-32 absolute inset-0 rounded-full bg-[#30436B] border border-[#4E6BA5]">
              {% render 'icon-modal-checkout' %}
            </div>
          </div>
          <div class="text-center">
            <h5 class="text-white">Checkout and Enroll</h5>
            <p class="text-[#A6B0C5] leading-6 mt-3">Proceed to checkout with your chosen items. Once you complete your purchase, you'll be automatically enrolled in the Shopguard membership, unlocking exclusive benefits.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full p-5 flex items-center justify-center bg-white">
      <a href="/" class="bg-[#93936b] flex items-center justify-between font-medium w-96 text-white px-5 py-3 rounded-[10px]">Start Browsing
        <svg
          class="w-5 h-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 25 25"><path
            style="fill:#ffffff"
            d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
            data-name="Right" /></svg>
      </a>
    </div>
  </div>


  {% section 'solarguard-hero' %}
  {% section 'solarguard-table' %}
  {% section 'faqs-dynamic' %}

</div>


<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>